{% extends 'blog/base.html' %}

{% block body-block %}
    <h2 class="title"> {{ post.title }}</h2>
    
    {% if post.attached_img %}
    <img src="{{ post.attached_img.url }}" alt="no-fetch-{{ post.title}}" width="100%">    
    {% endif %}
            
    {% if post.published_date %}
        <div class="date postdate">
            {{ post.published_date }}
        </div>
    {% else %}
        <div>
            <a class="btn btn-default" href="{% url 'publish_post' pk=post.pk %}">Publish to world</a>
        </div>
    {% endif %}

    <p class="postcontent">{{ post.text|safe|linebreaks }}</p>
    <div class="right">
        {% if user.is_authenticated %}
            <a class="right" href="{% url 'post_edit' pk=post.pk %}"><span class="material-icons">add_comment</span></a>
            <a class="right" href="{% url 'post_remove' pk=post.pk %}"><span class="material-icons">delete</span></a>
        {% endif %}
    </div>

    <hr>
    <div class="right">
        <a class="btn btn-primary btn-secondary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    </div>
    
    <hr>
    <div class="container">
        
        {% for comment in post.comments.all %}
            
            {% if user.is_authenticated or comment.approved_comment %}
                <div class="list-group">
                    <li class="list-group-item list-group-item-secondary">
                        <p>Comment By : {{ comment.author }} at {{ comment.create_date }}</p>
                        <p>{{ comment.text|safe|linebreaks }}</p>
                        {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="material-icons">done_all</span></span></a>
                            <a class="btn btn-default" href="{% url 'remove_comment' pk=comment.pk %}"><span class="material-icons">delete</span></a>
                        {% endif %}    
                    </li>
                </div>
            {% else %}
                <p>No Comments</p>
            {% endif %}
        {% endfor %}  
    </div>
{% endblock body-block %}