{% extends 'blog/base.html' %}

{% block body-block %}
    <div class="centerstage">
        
        {% for post in post_list %}
            <div class="post">
                <h3 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <div class="date right">
                    <p>Published on : {{ post.published_date|date:"D M Y" }}</p>
                </div>
                <div class="right">
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments : {{ post.approve_comments.count }}</a>
                </div>
                <hr>
            </div>
        {% endfor %}    
    </div>
{% endblock body-block %}